*{
  margin: 0%;
  padding: 0%;
}
body{
  background-color: #579;
}
.container{
  font-family: cursive;
  margin: 200px;
  text-align: center;
}
h1{
  color: #bdf;
  font-size: 50px;
  background-color: #1238;
  border-radius: 70px 70px 180px 180px;
}
button{
  padding: 20px;
  background-color: #baa;
  border: none;
  font-family: cursive;
  font-size: 30px;
  margin-top: 30px;
  border-radius: 70px 10px;
  color: #042766;
  outline: none;
}
#result{
  margin-top: 20px;
  font-size: 40px;
  background-color: #bcc;
  color: #321;
  padding: 10px;
  border-radius: 10px 70px;
}
@media screen and (max-width: 830px) {
  .container{
    position: absolute;
    margin: 20%;
  }
  h1{
    font-size: 25px;
    width: 300px;
  }
  button{
    font-size: 20px;
    width: 300px;
    padding: 10px;
  }
  #result{
    font-size: 25px;
    width: 300px;
  }
}
@media screen and (max-width: 480px) {
  .container{
    margin: 50% 10%;
  }
}
